!!!
%html
  %head
    %title Projects
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag "favicon.ico"
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    %link{:href => "https://file.myfontastic.com/Lfvoi3zAfnoF3vzmNJBDBh/icons.css", :rel => "stylesheet"}/
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
  %body{:class => "#{controller_name}", :id => "#{action_name}"}
    = render :partial => 'layouts/header'
    %main= yield
    = render :partial => 'layouts/google_analytics'
    .overlay
